<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <title>Texter App</title>
    </head>
    
    <body>
    <div class="container">
        <div class="row">
        <h1 class="text-center">You have successfully sent a text message!</h1>
        <p class="text-center">It did work!</p>
        <h4 class="text-center">I sent your message to <%= @number %>!</h4>
    </div>
    </div>
    </body>
</html>